<div class="container bg-primary bg-opacity-50 shadow-lg">
  <p id="notice"><%= notice %></p>

  <h1 class="text-white">Posts</h1>
  <div class="row row-cols-2 row-cols-md-3 g-5">
    <% @posts.each do |post| %>
      <div class="col">
        <%= image_tag post.image.variant(resize: "300x300"), class: "img-thumbnail"%>
      </div>
      <div class="col">
        <%= image_tag post.image.variant(resize: "300x300"), class: "img-fluid rounded"%>
      </div>
      <div class="col">
        <%= image_tag post.image.variant(resize: "300x300"), class: "img-fluid rounded-circle"%>
      </div>
    <% end %>
  </div>
  <br>

  <%= link_to 'New Post', new_post_path %>
</div>
